@import "partials/global_imports";

article {
  margin-bottom:40px;
  
  header time {
    margin-bottom:15px;
    @include secondary_text
  }

  section {
    margin-bottom: 20px;
  }

  ul, article ol {
    margin-bottom: 15px;
  }
  
  footer small,
  article footer small a {
    @include secondary_text
  }
}
