@import "global_imports.scss";

// general
* {
  margin:0;
  padding:0;
}

body {
  font-weight: normal;
  color: $text_color;
  font-size: $font_size;
  font-family: $font_family;
  line-height:1.4em;
}

article, section, header, nav, footer, small, time, form, input, button {
  display: block;
}

cite {
  font-style: normal;
}

pre {
  background: $pale_background;
  padding: 0 10px 10px 10px;
  margin: 5px 0;
}

code {
  font-family: courier;
}

a {
  color: $link_color;

  &:hover {
    color: $text_color;
  }
}

strong {
  font-weight:bold;
}

// headings
h2 {
  @include top_level_heading;

  a {
    @include top_level_heading;
    text-decoration: none;
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h3 {
  @include standard_heading;
}

h4 {
  @include standard_heading;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

button {
  padding: 3px;
}

button, input {
  font-size: $secondary_font_size;
}

input, textarea {
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;

  td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding:5px;
  vertical-align:top;
  
    span {
      color: $secondary_text_color;
    }
  }
}
